.heading h2 {
  color: #a79bf8;
  font-size: 50px;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
  line-height: 42px;
  margin: 16px 0px;
}

.text-content p {
  font-size: 15px;
  color: #707070;
  line-height: 18px;
  text-align: center;
  align-items: center;
  font-family: Europa_Regular;
  margin-bottom: 16px;
}

.img-slide {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.img-slide img {
  margin: 1rem;
}

@media only screen and (max-width: 769px) {
  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  .slick-dots li {
    margin: 0.2rem;
    border: 1px solid #ac9efd;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .slick-dots li button {
    display: none;
  }
  .slick-dots li.slick-active {
    background: #ac9efd;
  }
}
