* {
  margin: 0;
  padding: 0;
}

:root{
  --fontsize: 15px;
  --font-size-base: 14px;
  --fontfamily: 'Europa_Regular';
}

body {
  background-color: aquamarine;
}

.header {
  width: 100% !important;
  height: 55px;
  background-color: #fff;
  display: flex;
  position: sticky;
  top: 0px;
}
.header .header-logo img {
  height: 28px;
  position: relative;
  left: 80px;
  top: 14px !important;
}
.header .header-menu {
  display: flex;
  align-items: center;
  justify-content: center !important;
  /* flex is a shorthand property - flex-grow, flex-shrink,flex-basis */
  /* flex: 1 0 0;    */
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}
 .header-menu a {
  font-family: var(--fontfamily);
  font-size: var(--font-size-base);
  text-transform: uppercase;
  color: #707070;
  font-weight: 600;
  text-decoration: none;
}

 .header-menu a:hover{
  text-decoration: underline;
}

 .header-menu a .navtext {
  padding: 15px;
}

.header-menu .dropdown-menu {
  font-family: var(--fontfamily);
  font-size: var(--font-size-base);
  text-transform: uppercase;
  color: #707070;
  font-weight: 600;
  text-decoration: none;
}

.dropdown-menu:hover {
  text-decoration: underline;
  cursor: pointer;
}
.dropdown-menu .dropdown-submenu {
  display: none;
}

.dropdown-menu:hover .dropdown-submenu {
  display: block;
  max-width: 800px;
  transform: translate(-50%);
  left: 50%;
  width: 50%;
  height: fit-content;
  justify-content: space-between;
  position: absolute;
  background-color: #fff;
  padding: 15px;
}

.dropdown-menu .dropdown-submenu .row {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 2px;
  line-height: 1.5rem;
  justify-content: space-between;
}
.dropdown-menu .dropdown-submenu .row .col-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  margin-left: 50;
}
.dropdown-menu .dropdown-submenu .row .col-1 {
  cursor: default;
}
.dropdown-menu .dropdown-submenu .row .col-1 .subnavtext {
  color: #707070;
  font-family: var(--fontfamily);
  font-weight: 500;
}
.dropdown-menu .dropdown-submenu .row .col-2 {
  display: block;
  flex-direction: row;
  width: 50%;
  padding: 30px 0;
  margin: 0 50px;
}

.stages {
  display: grid;
  grid-template-columns: auto auto;
  flex: 3 1 0%;
  grid-row-gap: 1.5em;
}

.stages #stage-1 {
  height: 70px;
  position: relative;
  width: 150px;
  margin: 5px 5px 5px 0;
  background-color: #6acbdf;
  color: #707070;
  text-align: start;
  font-size: var(--font-size-base);
  transition-delay: 170ms;
  padding: 8px;
  font-weight: 500;
  font-family: var(--fontfamily);
  text-transform: initial;
}
.stages #stage-2 {
  height: 70px;
  position: relative;
  width: 150px;
  margin: 5px 5px 5px 0;
  background-color: #ff767d;
  color: #707070;
  text-align: start;
  font-size: var(--font-size-base);
  transition-delay: 190ms;
  padding: 8px;
  font-weight: 500;
  font-family: var(--fontfamily);
  text-transform: initial;
}
.stages #stage-3 {
  height: 70px;
  position: relative;
  width: 150px;
  margin: 5px 5px 5px 0;
  background-color: #26dea6;
  color: #707070;
  text-align: start;
  font-size: var(--font-size-base);
  transition-delay: 210ms;
  padding: 8px;
  font-weight: 500;
  font-family: var(--fontfamily);
  text-transform: initial;
}
.stages #stage-4 {
  height: 70px;
  position: relative;
  padding: 8px;
  text-transform: initial;
  width: 150px;
  margin: 5px 5px 5px 0;
  background-color: #ffb25b;
  color: #707070;
  text-align: start;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--fontfamily);
  transition-delay: 230ms;
}

.header-desktop-bar-right{
  margin-top: 14px;
}

.header-buttons{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  margin-right: 40px;
}
